body {
  margin: 0;
  overflow: hidden;
  display: flex;
  height: 100vh;
}

#app-container {
  display: flex;
  width: 100%;
  height: 100%;
}

#field-container {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e8f5e9;
}

#cricket-field {
  width: 90%;
  height: auto;
}

#sidebar {
  flex: 1;
  padding: 20px;
  background-color: #f1f8e9;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-top: 0;
}